extends ../../main.layout.pug
append depth
  -var pagedepth = "../"
prepend head-meta
  -var pagetitle = "Page 2"
  -var description = "2nd demo page"
block nav-link
  -var selected = "Page 2"

block content
  main.container
    .row
      article.col-12.mb-5
        include:markdown-it file.md