
//Bright
$white = #FCFCFC //background

$black = #211E1E
$gray = #60666A
$blue = #1553DD

.white
  color: white
  fill: white

.black
  color: $black
  fill: $black

.gray
  color: $gray
  fill: $gray

.blue
  color: $blue
  fill: $blue
