.navbar
  width 100%
  height: 3.75rem
  display: inline-block
  margin-bottom: convertPixels(50px)
  .row
    width: calc(100vw - 30px)
  @media(max-width: $screen-max-xs)
    z-index: 100
    margin: 0px
    padding: 0px
    .container
    .row
    .col-12
      margin: 0px
      padding: 0px

.header
  width: 100%
  height: convertPixels(50px)


@media(min-width: $screen-sm)
  .header
    .logo
      float: left
      width: 100px
      height: convertPixels(45px)
      line-height: 3rem
    .menu-cpa
      float: right
      margin: 0 auto
      text-align: right
      padding: .5rem 0
      list-style-type none
      -webkit-padding-start: 0px !important
      -moz-padding-start: 0px !important
      li
        display: inline-block
        margin-left: 1rem
        a
          color: alpha($gray, .5)
          text-decoration: none

  .selected
    color: $black !important

@media(max-width: $screen-max-xs)
  $cubic=cubic-bezier(0.4, 0.01, 0.165, 0.99)
  $menuItems = 7

  .selected
    opacity: .5

  .header
    width: 100vw
    padding: 0px 15px
    height: convertPixels(50px)
    overflow: hidden
    .logo
      display: inline-block;
      line-height: 50px;
      width: calc(100% - 50px);
      height: 50px;
      padding-left: 10px
      color: #000;
      font-size: 22px;
      float: left
      transition: all 0.4s $cubic
    .burger-container
      position: relative;
      display: inline-block;
      height: 50px;
      width: 50px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.3s $cubic;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      #burger
        width: 18px
        height: 8px
        position: relative
        display: block
        margin: -4px auto 0
        top: 50%
        .bar
          width: 100%
          height: 1px
          display: block
          position: relative
          background: #000
          transition: all 0.3s $cubic
          transition-delay: 0s
        .topBar
          transform: translateY(0px) rotate(0deg)
        .btmBar
          transform: translateY(6px) rotate(0deg)
    ul
      display: block;
      padding: 0px 48px 0;
      list-style: none;
      li
        pointer-events: none
        border-bottom: 1px solid #333;
        margin-top: convertPixels(12px)
        padding-bottom: convertPixels(8px)
        opacity: 0;
        width: 100%
        transform: scale(1.15) translateY(-30px);
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        for i in (1..$menuItems)
          &:nth-child({i})
            transition-delay: (0.56 - (i * 0.07))s
        a
          display: block
          color: $white
          text-decoration: none
          &:hover
            color: $white
            text-decoration: none
          &:visited
            color: $white
            text-decoration: none

  .header.menu-opened
    height: 100vh
    width: 100vw
    z-index: 999
    background-color: #28262C
    transition: all 0.3s ease-in
    transition-delay: 0.25s
    .logo
      color: $white
      transition: all 0.4s $cubic
    .burger-container
      transform: rotate(90deg)
      #burger
        .bar
          background: #FFF
          transition: all 0.4s $cubic
          transition-delay: 0.1s
        .topBar
          transform: translateY(4px) rotate(45deg)
        .btmBar
          transform: translateY(3px) rotate(-45deg)
    ul
      height: calc(100% - 60px)
      display: block
      overflow: scroll
      position: relative
      -webkit-margin-after: 0px
      -webkit-margin-before: 0px
      li
        pointer-events: auto
        transform: scale(1) translateY(0px)
        opacity: 1
        for i in (1..$menuItems)
          &:nth-child({i})
            transition-delay: (0.07 * i + 0.2)s