$font-family-sans = BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
$font-family-serif = Georgia, "Times New Roman", Times, serif

.sans
  font-family: $font-family-sans

.serif
  font-family: $font-family-serif

body
  color $gray
  font-size convertPixels(18px)
  line-height convertPixels(27px)
  font-family $font-family-sans
  font-weight getFontWeight('regular')
  font-style normal

p
  font-size convertPixels(18px)
  line-height 1.5
  font-family $font-family-sans
  font-weight normal

h1, .h1
  font-size convertPixels(56px)
  line-height 1.1
  font-family $font-family-sans
  font-weight bold

h2, .h2
  font-size convertPixels(42px)
  line-height 1.2
  font-family $font-family-sans
  font-weight bold

h3, .h3
  font-size convertPixels(34px)
  line-height 1.2
  font-family $font-family-sans
  font-weight bold

h4, .h4
  font-size convertPixels(28px)
  line-height 1.25
  font-family $font-family-sans
  font-weight bolder

h5, .h5 //used also for CTAs
  font-size convertPixels(26px)
  line-height 1.25
  font-family $font-family-sans
  font-weight bolder

.body-copy
  font-size convertPixels(24px)
  line-height 1.5
  font-family $font-family-sans
  font-weight normal

.xs-copy
  font-size: convertPixels(14px)
  line-height: 1.4
  font-family: $font-family-sans
  font-weight: normal

li
  font-size convertPixels(18px)
  line-height 1.5
  font-family $font-family-sans
  font-weight normal

.navigation-label
  font-size convertPixels(18px)
  line-height 1.25
  font-family $font-family-sans
  font-weight normal
  font-style normal
  border-bottom none
  &:hover
    border-bottom none
    text-decoration none

sub
  font-size: 50%