// Functions
getFontWeight($type)
  if $type == 'regular'
    400
  else if $type == 'bold'
    700
  else if $type == 'light'
    300
  else if $type == 'medium'
    600

convertPixels($px)
  $default-size = 16px
  $px / $default-size rem

// Viewports

$large-phone = 404px

// Minimum viewport values
$screen-xs = 320px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px

// Maximum viewport values
$screen-max-xs = $screen-sm - 1
$screen-max-sm = $screen-md - 1
$screen-max-md = $screen-lg - 1
$screen-max-lg = $screen-lg


// Border Radius
$radius1 = convertPixels(1px)
$radius3 = convertPixels(3px)
$radius6 = convertPixels(6px)
$radius10 = convertPixels(10px)

html, body
  background-color: $white

*:focus
  outline: none;