extends main.layout.pug
append depth
  -var pagedepth = "./"
append style
  link(rel='stylesheet' href='/index/style.css')
  link(rel='stylesheet' href='common.min.css')
prepend head-meta
  -var pagetitle = "Main-page"
  -var description = "Homepage"
block nav-link
  -var selected = "Home"


block content
  main.container
    .row
      .col-12
        p Content goes here