<!DOCTYPE html>

html(lang="en")
  head
    block depth
      -var pagedepth
    block style
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
      link(rel="stylesheet" href= pagedepth + "common.min.css")
    block head-meta
      -var description
      title Website Name – #{pagetitle}
      meta(name="Description" content= description)
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block script
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")

  body
    //- Navigation is already populated and will update all pages
    block navigation
      nav.navbar
        .container
          .row
            .col-12
              block nav-link
              section.header
                .logo
                  span ∆
                .burger-container
                  #burger
                    .bar.topBar
                    .bar.btmBar

                -var menu = { 'Home': '/', 'Page 2': '/page2'};
                ul.menu-cpa
                  each val, key in menu
                    li
                      if selected === key
                        a.selected(href=val, title=key)= key
                      else
                        a(href=val, title=key)= key


    //- Body content
    block content

    //- Footer has content and updates all pages
    block footer
      footer
        .container
          .row.mt-5.mb-3
            .col-12.text-center
              p.xs-copy#year

    block scripts
      script(src= pagedepth + "js/vendor.min.js")